<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Chie sur ton prof !</title>
    </head>
    <body>

        <div id="app" class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Note ton Prof !</h1>
                    <div class="row">
                        <div class="col-6" v-for="professeur in professeurs">
                            <div class="card" :class="{'bg-info': professeur === professeurSelectionne}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ professeur.prenom + ' ' + professeur.nom }}</h5>
                                    <p class="card-text">{{ professeur.email }}<br>
                                        <button class="btn btn-primary" v-on:click="getProfesseursAvis(professeur.id)">Afficher les avis</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="professeurSelectionne != null" class="col-4">
                    <h2>Avis de {{ professeurSelectionne.prenom + ' ' + professeurSelectionne.nom }}</h2>

                    <div v-if="profNotes.includes(professeurSelectionne)" class="alert alert-success">Votre avis a été enregistré</div>

                    <form v-else v-on:submit.prevent="putProfesseursAvis()">
                        <div class="form-group">
                            <label>Note</label>
                            <select class="form-control" v-model="nouvelAvis.note">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Commentaire</label>
                            <textarea required class="form-control" v-model="nouvelAvis.commentaire"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Adresse mail</label>
                            <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Ajouter avis" class="btn btn-primary">
                        </div>
                    </form>

                    <div class="card" v-for="unAvis in avis">
                        <div class="card-body">
                            <h5 class="card-title">Note : {{ unAvis.note }} / 5</h5>
                            <p class="card-text">{{ unAvis.commentaire }}</p>
                            <button v-on:click="deleteAvis(unAvis)" v-if="mesAvis.includes(unAvis)" class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script type="text/javascript">
            var app = new Vue({
                el:'#app',
                data: {
                    apiBase: 'http://localhost:8000/api',
                    professeurs: [],
                    avis: [],
                    professeurSelectionne: null,
                    nouvelAvis: {},
                    profNotes: [],
                    mesAvis: []
                },
                methods: {
                    getProfesseurs: function() {
                        axios.get(this.apiBase + '/professeurs')
                        .then(response => {
                            this.professeurs = response.data
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    },

                    getProfesseursAvis: function(professeurId){
                        this.nouvelAvis = {
                            note: 0,
                            commentaire: '',
                            emailEtudiant: ''
                        }
                        axios.get(this.apiBase + '/professeurs/' + professeurId + '/avis')
                        .then(response => {
                            this.avis = response.data
                            this.professeurSelectionne = this.professeurs.find(professeur => professeur.id === professeurId)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    },

                    putProfesseursAvis: function(){
                        axios.put(this.apiBase + '/professeurs/' + this.professeurSelectionne.id + '/avis', this.nouvelAvis)
                        .then(response => {
                            this.avis.push(response.data)
                            this.profNotes.push(this.professeurSelectionne)
                            this.mesAvis.push(response.data)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    },

                    deleteAvis: function(avis){
                        axios.delete(this.apiBase + '/avis/' + avis.id)
                        .then(response => {
                            this.getProfesseursAvis(this.professeurSelectionne.id)
                            this.mesAvis.splice(this.mesAvis.indexOf(avis), 1)
                            this.profNotes.splice(this.profNotes.indexOf(this.professeurSelectionne), 1)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    }

                },
                mounted() {
                    this.getProfesseurs()
                }
            })
        </script>
    </body>
</html>
