<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuejs-datepicker"></script>
  <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>

  <script src="moment.js"></script>
  <script src="http://ekladata.com/pcsyQ3tk8KLClKiT8Hit03-VGFg/moment-with-locales.js"></script>

  <title>Agenda</title>
</head>
<body>
  <div id="app" class="container-fluid">
    <div class="row">

      <!-- Emploi du temps -->
      <div class="col-md-6">
        <h1>Emploi du temps</h1>
        <div class="row mx-md-5 mb-2">
          <div class="col-3">
            <button class="btn btn-primary" v-on:click="changementJour('previous')">Jour précédent</button>
          </div>
          <div class="col-6">
            <h4 class="text-center" ref="dateDuJour">{{ this.dateDuJourString }}</h4>
          </div>
          <div class="col-3">
            <button class="btn btn-primary" v-on:click="changementJour('next')">Jour Suivant</button>
          </div>
        </div>

        <table class="table" id="tableauCours">
          <thead>
            <tr>
              <th>Heure</th>
              <th>Cours</th>
            </tr>
          </thead>
          <tbody class="card-body" id="bodyTableauCours">
            <tr v-for="cours in listeCoursDuJour">
              <td>
                <div class="card-body">
                  <p class="card-text">
                    {{ cours.dateHeureDebut.hours() + ':' + cours.dateHeureDebut.minutes() + ' - '}}
                    {{ cours.dateHeureFin.hours() + ':' + cours.dateHeureFin.minutes() }}<br>
                  </p>
                </div>
              </td>
              <td>

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ cours.type }} - {{ cours.matiere.titre }} </h5>
                    <p class="card-text">
                      {{ cours.professeur.prenom + ' ' + cours.professeur.nom}} <br>
                      Salle {{ cours.salle.numero }}<br>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Cards des enseignants -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <h1>Note ton Prof !</h1>
            <div v-for="professeur in listeProfesseurs">
              <div class="card" :class="{'bg-light': professeur === professeurSelectionne}">
                <div class="card-body">
                  <h5 class="card-title">{{ professeur.prenom + ' ' + professeur.nom }}</h5>
                  <p class="card-text">{{ professeur.email }}<br>
                    <button class="btn btn-primary" v-on:click="getAvisProfesseurById(professeur.id)">Afficher les avis</button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Formulaire de l'avis -->
          <div v-if="professeurSelectionne != null" class="col-6">
            <h2>Avis de {{ professeurSelectionne.prenom + ' ' + professeurSelectionne.nom }}</h2>
            <div v-if="profNotes.includes(professeurSelectionne)" class="alert alert-success">Votre avis a été enregistré</div>
            <form v-else v-on:submit.prevent="putProfesseursAvis()">

              <!-- Note de l'avis -->
              <div class="form-group">
                <label>Note</label>
                <select class="form-control" v-model="nouvelAvis.note">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <!-- Input du commentaire -->
              <div class="form-group">
                <label>Commentaire</label>
                <textarea required class="form-control" v-model="nouvelAvis.commentaire"></textarea>
              </div>

              <!-- Input de l'adresse email -->
              <div class="form-group">
                <label>Adresse mail</label>
                <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant">
              </div>
              <div class="form-group">
                <input type="submit" value="Ajouter avis" class="btn btn-primary">
              </div>
            </form>

            <div class="card" v-for="unAvis in listeAvis">
              <div class="card-body">
                <h5 class="card-title">Note : {{ unAvis.note }} / 5</h5>
                <p class="card-text">{{ unAvis.commentaire }}</p>
                <button v-on:click="deleteAvis(unAvis)" v-if="mesAvis.includes(unAvis)" class="btn btn-danger">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">

  // Dates en français sur l'interface
  moment.locale('fr');

  // Création d'une vue
  var app = new Vue({
    el : "#app",

    data: {
      urlBase: 'http://localhost:8000/api',
      listeProfesseurs: [],
      listeAvis: [],
      professeurSelectionne: null,
      nouvelAvis: {},
      profNotes: [],
      mesAvis: [],
      listeCours: [],
      listeSalles: [],
      listeCoursDuJour: [],
      dateDuJour: null,
      dateDuJourString: null
    },

    methods: {

      // Renvoie la liste des professeurs en base
      getProfesseurs: function(){
        axios.get(this.urlBase + '/professeurs')
        .then(response => {
          this.listeProfesseurs = response.data;
        })
        .catch(error => {
          console.log(error);
        })
      },

      // Renvoie tous les avis d'un professeur à partir de son id
      getAvisProfesseurById: function(professeurId){
        this.nouvelAvis = {
          note: 0,
          commentaire: '',
          emailEtudiant : ''
        }
        axios.get(this.urlBase + '/professeur/' + professeurId + '/avis')
        .then(response => {
          this.listeAvis = response.data;
          this.professeurSelectionne = this.listeProfesseurs.find(professeur => professeur.id === professeurId)
        })
        .catch(error => {
          console.log(error);
        })
      },

      // Envoie un avis
      putProfesseurAvis: function(){
        axios.put(this.urlBase + '/professeur/' + this.professeurSelectionne.id + '/avis', this.nouvelAvis)
        .then(response => {
          this.avis.push(response.data);
          this.profNotes.push(this.professeurSelectionne);
          this.mesAvis.push(response.data);
        })
      },

      // Supprime un avis à partir de son id
      deleteAvis: function(avisId){
        axios.delete(this.urlBase + '/avis/' + avis.id)
        .then(response => {
          this.getAvisProfesseurById(this.professeurSelectionne.id);
          // this.
          this.mesAvis.splice(this.mesAvis.profNotes.indexOf(this.professeurSelectionne))
        })
        .catch(error => {
          console.log(error);
        })
      },

      // Renvoie tous les cours en base
      getCours: function(){
        axios.get(this.urlBase + '/cours')
        .then(response => {
          this.listeCours = response.data;
          this.listeCours.forEach((cours) => {
            cours.dateHeureDebut = moment(cours.dateHeureDebut);
            cours.dateHeureFin = moment(cours.dateHeureFin);

          });

          this.setCoursDeDepart();
        })
        .catch(error => {
          console.log(error);
        })
      },

      // Renvoie toutes les salles en base
      getSalles: function(){
        axios.get(this.urlBase + '/salles')
        .then(response => {
          this.listeSalles = response.data;
        })
        .catch(error => {
          console.log(error);
        })
      },

      // Définit le cours de départ du calendrier
      setCoursDeDepart: function(){

        // INitialisation et peuplement du tableau qui contient toutes les dates des cours
        var listeDates = [];
        this.listeCours.forEach((cours) => {
          listeDates.push(cours.dateHeureDebut);
        });

        // Comparaison pour trouver la date du premier jour à afficher
        var datePremierJour = moment.min(listeDates);
        this.dateDuJour = datePremierJour;

        // Tri parmis les cours pour récupérer ceux qui commencent ce jour
        this.listeCours.forEach((cours) => {
          if( datePremierJour.date() == cours.dateHeureDebut.date()){
            this.listeCoursDuJour.push(cours);
          }
        });

        // Tri pour les afficher dans l'ordre
        this.listeCoursDuJour.sort(function(a, b) {
          return parseFloat(a.dateHeureDebut.hour()) - parseFloat(b.dateHeureDebut.hour());
        });

        // Affectation à la valeur du jour au format utilisateur friendly, exemple: "19 mars 2020"
        this.dateDuJourString = this.dateToUtilisateurFriendly(datePremierJour);
      },

      // Passe au jour précédent et met à jour la liste des cours, si action = "next", avancée d'un jour, si action ="previous"
      changementJour: function(action){

        // Changement de l'heure affichée par incrément
        if (action == 'previous') {
          this.dateDuJour.subtract('days', 1);
        }
        else{
          this.dateDuJour.add('days', 1);
        }
        this.$refs.dateDuJour.textContent =  this.dateToUtilisateurFriendly(this.dateDuJour);

        // Vérification que le jour contient des cours, vidage du tableau et insertion des cours dans le tableau des cours du jour
        this.listeCoursDuJour= [];
        $("#tableauCours tbody tr").remove();
        this.listeCours.forEach((cours) => {
          if (cours.dateHeureDebut.date() == this.dateDuJour.date() && cours.dateHeureDebut.month() == this.dateDuJour.month()) {
            this.listeCoursDuJour.push(cours);
          }
        });

        // Pour chaque cours de la date du jour, insertion dans le tableau
        this.listeCoursDuJour.forEach((cours) => {

          // Création des éléments la ligne
          var tr = document.createElement("TR");
          var tdHeure = document.createElement("TD");
          var cardBodyHeure = document.createElement("DIV");
          var cardTexteHeure = document.createElement("P");

          var tdCours = document.createElement("TD");
          var cardCours = document.createElement("DIV");
          var cardBodyCours = document.createElement("DIV");
          var cardTitleCours = document.createElement("H5");
          var cardTexteCours = document.createElement("P");

          // Association des classes à chaque élément
          cardBodyHeure.classList.add("card-body");
          cardTexteHeure.classList.add("card-text");
          cardCours.classList.add("card");
          cardBodyCours.classList.add("card-body");
          cardTitleCours.classList.add("card-title");
          cardTexteCours.classList.add("card-text");

          // Ajout du texte dans les cases
          cardTexteHeure.textContent = cours.dateHeureDebut.hours() + ':' + cours.dateHeureDebut.minutes() + ' - ' + cours.dateHeureFin.hours() + ':' + cours.dateHeureFin.minutes() ;
          cardTitleCours.textContent = cours.type - cours.matiere.titre ;
          cardTexteCours.textContent = cours.professeur.prenom + ' ' + cours.professeur.nom + 'Salle ' + cours.salle.numero ;

          // Append de tous les éléments pour former la ligne finale
          tr.appendChild(tdHeure.appendChild(cardBodyHeure.appendChild(cardTexteHeure)));
          tr.appendChild(tdCours.appendChild(cardCours.appendChild(cardBodyCours.appendChild(cardTitleCours.appendChild(cardTexteCours)))));

          document.getElementById("bodyTableauCours").appendChild(tr);
        });

      },

      // Convertit une date au format string affiché à l'utilisateur
      dateToUtilisateurFriendly: function(date) {
        return date.date() + ' ' + date.format('MMMM') + ' ' + date.year() ;
      },

    },

    mounted() {
      this.getProfesseurs();
      this.getCours();
    },

    components: {
      vuejsDatepicker
    }
  })
</script>
</body>
</html>
