<div class="professeurs">
  <table>
    <thead>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for professeur in listeProfesseurs %}
      <tr>
        <td>{{ professeur.id }}</td>
        <td>{{ professeur.nom }}</td>
        <td>{{ professeur.prenom }}</td>
        <td>{{ professeur.email }}</td>
        <td>
          <a href="{{path('professeursEdit', {id: professeur.id})}}">Modifier</a>
          <a href="{{path('professeursRemove', {id: professeur.id})}}">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
